

<style class="cp-pen-styles">@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

</style>
<main>

  <section>

    <div class="welcome__block">
        <div>
          <img src="https://www.w3schools.com/howto/img_avatar.png" style="width:120px;"/>
          <div>
            <h1>Bienvenido, <span id="usuarioname"></span></h1>
            <p>Dashboard</p>
          </div>
        </div>
        <div>
          <h1 class="large">3</h1>
          <p>Escuelas</p>
          <p><a href="#0">Ver escuelas</a></p>
        </div>
        <div>
          <span class="alert">
            <h3>Estudiando...</h3>
            <p>Revisa tus últimas noticias, listado de docentes, escuelas, materias y calendario de exámenes</p>
          </span>
        </div>
    </div>
    
    <div class="grid">
      <div class="column lg12 sm12">
        <div class="advert">
           <button type="button" class="close"><i class="material-icons">&#xE5CD;</i></button>
           <h3>Explorar Rowne</h3>
           <p>

Desde aquí podrás acceder al mejor material de estudio para que tus hijos peactiquen para sus exámenes.

Todos los ejercicios han sido vistos en clase y fueron desarrollados por los propios docentes de tus hijos.
</p>
          <p><a href="#0">Ver lista de escuelas</a> | <a href="#0">Ver lista de docentes</a></p>
        </div>
      </div>
    </div>
    
    <div class="grid">
      <div class="column lg12">
        <h3 class="section__title">Exámenes</h3>
      </div>
      <div class="column lg8 md12 sm12">
        <div class="widget">
          <table>
            <thead>
              <tr>
              <td>Materia</td>
              <td>Fecha</td>
              <td>Docente</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Física</td>
                <td><a href="#0">21/07/2017</a></td>
                <td><img src="https://www.w3schools.com/w3images/avatar6.png" alt="" class="avatar"> <a href="#0">Reporte</a></td>
              </tr>
              <tr>
                <td>Química</td>
                <td><a href="#0">24/07/2017</a></td>
                <td><img src="https://www.w3schools.com/w3images/avatar5.png" alt="" class="avatar"> <a href="#0">Reporte</a></td>
              </tr>
            </tbody>
            </table>
            <div class="add">
              <button type="button" class="add"><i class="material-icons">&#xE147;</i> Ver más materias</button>
            </div>
        </div>
        <h3 class="section__title">
          Noticias (3)
        </h3>
        <div class="widget">
          <div class="sub__title">
            Semana siguiente
          </div>
          <div class="row">
            <div class="block">
              <h4>Noticia #1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Leído:</p>
              <h1>49</h1>
              <button class="button blue" type="button">Leer</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="row">
            <div class="block">
              <h4>Noticia #2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Leído:</p>
              <h1>53</h1>
              <button class="button blue" type="button">Leer</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="row">
            <div class="block">
              <h4>Noticia #3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Leído:</p>
              <h1>69</h1>
              <button class="button blue" type="button">Leer</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="add">
          <button type="button" class="add"><i class="material-icons">&#xE8EF;</i> Ver todas las noticias</button>
          </div>
        </div>
      </div>
      <div class="column lg4 md12 sm12">
        <div class="widget">
          <div class="title"><h3>Completar tu perfil</h3></div>
          <div class="list">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script >

$(".close").click(function() {
  $('.advert').fadeOut(400);
});
//# sourceURL=dashboard.js
</script>